@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.app-header {
  background-color: #1976d2;
  color: white;
  padding: 0.3rem;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.page-header {
  font-weight: 400;
  margin: 0;
  padding: 0.3rem;

  display: flex;
  justify-content: end;
  align-items: center;

  div {
    margin-left: 1rem;
  }

  button {
    background: #1976d2;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    &:disabled {
      background: #90caf9;
      cursor: not-allowed;
    }
  }
}

.container {
  margin: 2rem auto;
  max-width: 600px;
  padding: 0 1rem;
  text-align: center;
  ;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  position: relative;
  width: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.text-field {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  display: flex;

  input {
    flex: 1;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 1rem;
    width: auto;
  }
}

.btn {
  background: #1976d2;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  &:disabled {
    background: #90caf9;
    cursor: not-allowed;
  }
}