* Jinja2 : Flask에 내장되어 있는 Template 엔진

## 참고 : https://jinja.palletsprojects.com/en/2.10.x/

## 기본 템플릿 문법
  {{ ... }} : 변수나 표현식
  {% ... %} : if나 for같은 제어문
  {# ... #} : 주석

## 변수
<code>
{{msg}}
</code>

## 반복문 (for)
<code>
{% for item in list %}
  {{item}}
{% endfor %}
</code>

## 분기문 (if)
<code>
{% if 조건 %}
  실행코드
{% elif 조건 %}
  실행코드
{% else %}
  실행코드
{% endif %}
</code>

## 형변환
<code>
{{number|int}}
</code>

## 세자리수 마다 콤마(,)
<code>
{{'{:,}'.format([숫자])}}
</code>

## 공백 제거 / 공백 유지
<code>
{%- %}, {%+ %}, {% -%}
</code>


## template 상속
  # grandfather.html 
<code><samp>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block content1 %} {%endblock %}
</body>
</html>
</samp></code>

  # father.html
<code><samp>
{% extends 'grandfather.html' %}
{% block content1 %}
  <p>This is father html</p>
  {% block content2 %}
  {% endblock %}
{% endblock %}
</samp></code>

  # son.html
<code>
{% extends 'father.html' %}
{% block content2 %}
    <p>This is son html!!</p>
{% endblock %}
</code>