#header{
    width: 100%;
    height: 85px;
    background: #0e1524;
    color: white;
}

#header span{
    margin-left: 30px;
    font-size: 35px;
}

#profileAnchor{
    color: ghostwhite;
    float: right;
    margin-right: 30px;
}
#profileAnchor:hover{
    color:skyblue;
    text-decoration: none;
}

#profile{
    z-index: 999;
    top:85px;
}

td, th{
    font-size: 80%;
}

@media ( min-width: 768px ) {
    .container { width: 70%; }
    
}
@media ( min-width: 445px ) {
    #header{ height: 60px; }
    #profileAnchor{ margin-top:30px}
}

@media ( max-width: 768px ) {

}