code {
  display: block;
  background-color: rgba(0,0,0,.8);
  color: white;
  line-height: 1.5rem;
  word-spacing: .7rem;
  border-radius: 10px;
  overflow: auto;
  font-size: 1rem !important;
  padding-bottom: 2rem;
}

code div {
  
}

code::-webkit-scrollbar {
  height: 1rem;
}

code {
  font-size: 1rem !important;
}

code .dot {
  font-size: 2rem !important;
}


code .c-blue {
  color: rgba(0,100,255,1);
}

code .c-green {
  color: rgba(0,255,100,1);
}

code .c-pink{
  color: rgba(255, 100, 200,1);
}

code .c-yellow{
  color: rgba(200, 200, 100, 1);
}

code .c-lightgreen {
  color: rgba(150, 200, 100, 1);
}

code .c-skyblue {
  color: rgba(200, 255, 255, 1);
}

code .c-lightpurple {
  color: rgba(100, 100, 200, 1);
}

code .c-midnightblue {
  color: rgba(0, 50, 100, 1);
}

code .c-lightpink {
  color: rgba(200, 150, 200, 1);
}

code .c-brown {
  color: rgba(100, 50, 0, 1);
}

@media screen and (max-width: 796px) {
  code {
    font-size: .8rem !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  code  {
    font-size: .8rem !important;
  }
}