code {
  margin: .5rem auto;
  width: 70%;
  display: block;
  background-color: rgba(0,0,0,.8);
  color: white;
  line-height: 1.7rem;
  word-spacing: .5rem;
  border-radius: 10px;
  overflow: auto;
  font-size: 1rem !important;
}

code::-webkit-scrollbar {
  height: 1rem;
}

code .function,
code .if,
code .else,
code .switch,
code .case, 
code .break,
code .default,
code .continue,
code .return,
code .try,
code .catch,
code .var,
code .colon,
code .let,
code .const,
code .dot,
code .colon,
code .bracket,
code .class,
code .extends, 
code .interface,
code .impliments,
code .type {
  font-size: 1rem !important;
}

code .dot {
  font-size: 2rem !important;
}


code .function {
  color: rgba(0,100,255,1);
}

code .if,
code .else {
  color: rgba(0,255,100,1);
}

code .switch,
code .case, 
code .break,
code .default,
code .continue,
code .return,
code .try,
code .catch{
  color: rgba(255, 100, 200,1);
}

code .var{
  color: rgba(200, 200, 100, 1);
}

code .let,
code .const {
  color: rgba(150, 200, 100, 1);
}

code .dot,
code .colon {
  color: rgb(255, 255, 255);
}

code .bracket {
  color: rgba(200, 255, 255, 1);
}

code .class,
code .extends, 
code .interface,
code .impliments,
code .type {

}

@media screen and (max-width: 796px) {
  code {
    font-size: .8rem !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  code .function,
  code .if,
  code .else,
  code .switch,
  code .case, 
  code .break,
  code .default,
  code .continue,
  code .return,
  code .try,
  code .catch,
  code .var,
  code .colon,
  code .let,
  code .const,
  code .dot,
  code .colon,
  code .bracket,
  code .class,
  code .extends, 
  code .interface,
  code .impliments,
  code .type {
    font-size: .8rem !important;
  }
}