.content * {
  font-size: 1rem;
}

.content h1 {
  font-size: 1.5rem;
}

.content strong {
  font-weight: bold;
}

.content .line-red {
  border-bottom: 1px solid red;
}

.content .red {
  color: red;
}

.content .green {
  color: green;
}

.content .logo {
  width: 100%;
  text-align: center;
}

.content pre {
  white-space: break-spaces;
  line-height: 1.5rem;
}

.content .pre::-webkit-scrollbar {
  display: none;
}


.content-icon-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

h1 {
  font-size: 3rem;
}