.content * {
  font-size: 1rem;
}

.content h1 {
  font-size: 1.5rem;
}

.content strong {
  font-weight: bold;
}

.content .line-red {
  border-bottom: 1px solid red;
}

.content .red {
  color: red;
}

.content .green {
  color: green;
}

.content .logo {
  width: 100%;
  text-align: center;
}

.content pre {
  white-space: break-spaces;
  line-height: 1.5rem;
}

.content .pre::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3rem;
}

.content img {
  width: 50%;
  margin: 0 25%;
}

.content-icon-img {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 !important;
  margin-right: .5rem !important;
}


@media screen and (max-width: 796px) {
  .content img {
    width: 80%;
    margin: 0 10%;
  
  }
}
@media screen and (max-width: 568px) {
  .content img {
    width: 100%;
    margin: 0;
  
  }
}

@media screen and (max-width: 256px) {

}